<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% comment %} ^ as p tags {% endcomment %}
        <input type="submit" value="Login" />
        <button onclick="window.open(`{% url 'home.signup' %}`)">Register</button>
    </form>

    {% if form.errors %}
        <div>
            {{ form.errors.title.as_text }}
        </div>
    {% endif %}
</body>
</html>
<head>